* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  min-height: calc(100vh - 80px);
  max-width: 980px;
  margin: 0 auto;
}

nav {
  height: 40px;
  background-color: #017575;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00a0a0;
  font-size: 26pt;
  max-width: 980px;
  margin: 0 auto;
}
nav a {
  font-size: 16pt;
  text-decoration: none;
  color: #bc902d;
  margin: 0 5%;
}

footer {
  max-width: 980px;
  height: 40px;
  background-color: #017575;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bc902d;
  font-size: 14pt;
}

#arcOne {
  background-image: url(../images/arc1.jpg);
}

#arcTwo {
  background-image: url(../images/arc2.jpg);
}

#arcThree {
  background-image: url(../images/arc3.jpg);
}

#arcFour {
  background-image: url(../images/arc4.jpg);
}

#arcFive {
  background-image: url(../images/arc5.jpg);
}

#arcSix {
  background-image: url(../images/arc6.jpg);
}

#arcSeven {
  background-image: url(../images/arc7.jpg);
}

.banner {
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  width: 100%;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeContent h1 {
  margin-top: 16px;
  text-decoration: underline;
  font-size: 34pt;
  text-align: center;
}
.homeContent p {
  text-indent: 16px;
  font-size: 14pt;
}

.arcs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.arcs .arcHero {
  width: 120px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutUC {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}
.aboutUC p {
  text-indent: 16px;
  font-size: 14pt;
  width: calc(50% - 100px);
  padding: 8px;
}
.aboutUC .left {
  text-align: right;
}
.aboutUC .logo {
  background-image: url(../images/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.aboutUC .right {
  text-align: left;
}

.aboutGus {
  display: flex;
  align-items: center;
  width: 100%;
}
.aboutGus .gusHeadshot {
  width: 200px;
  height: 200px;
  background-image: url(../images/gus.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 8px;
}
.aboutGus p {
  text-indent: 16px;
  font-size: 14pt;
  width: calc(100% - 200px);
}

.aboutHaley {
  display: flex;
  align-items: center;
  width: 100%;
}
.aboutHaley p {
  text-indent: 16px;
  font-size: 14pt;
  width: calc(100% - 200px);
}
.aboutHaley .haleyHeadshot {
  width: 200px;
  height: 200px;
  background-image: url(../images/haley.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-left: 8px;
}

.contactUC {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.contactUC .logo {
  background-image: url(../images/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-right: 8px;
  margin-left: calc(50% - 200px);
}
.contactUC p {
  font-size: 14pt;
}

@media screen and (max-width: 745px) {
  .contactUC p {
    font-size: 10pt;
  }
}
.contactGus {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.contactGus .gusHeadshot {
  width: 200px;
  height: 200px;
  background-image: url(../images/gus.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: calc(50% - 200px);
}
.contactGus p {
  font-size: 14pt;
}

@media screen and (max-width: 745px) {
  .contactGus p {
    font-size: 10pt;
  }
}
.contactHaley {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.contactHaley .haleyHeadshot {
  width: 200px;
  height: 200px;
  background-image: url(../images/haley.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: calc(50% - 200px);
}
.contactHaley p {
  font-size: 14pt;
}

@media screen and (max-width: 745px) {
  .contactHaley p {
    font-size: 10pt;
  }
}
.episodesContent .arcTile {
  display: flex;
  align-items: center;
}
.episodesContent .arcTile .arcLogo {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.episodesContent .arcTile p {
  width: calc(100% - 200px);
  text-indent: 16px;
  font-size: 14pt;
  margin: 8px;
}

/*# sourceMappingURL=styles.css.map */
