#arcOne {
    background-image: url(../images/arc1.jpg);
}

#arcTwo {
    background-image: url(../images/arc2.jpg);
}

#arcThree {
    background-image: url(../images/arc3.jpg);
}

#arcFour {
    background-image: url(../images/arc4.jpg);
}

#arcFive {
    background-image: url(../images/arc5.jpg);
}

#arcSix {
    background-image: url(../images/arc6.jpg);
}

#arcSeven {
    background-image: url(../images/arc7.jpg);
}