.episodesContent {
    .arcTile {
        display: flex;
        align-items: center;

        .arcLogo {
            width: 200px;
            height: 200px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        p {
            width: calc(100% - 200px);
            text-indent: 16px;
            font-size: 14pt;
            margin: 8px;
        }
    }
}