.contactGus {
    display: flex;
    margin-top: 8px;
    align-items: center;

    .gusHeadshot {
        width: 200px;
        height: 200px;
        background-image: url(../images/gus.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        margin-right: 8px;
        margin-left: calc(50% - 200px);
    }

    p {
        font-size: 14pt;
    }
}

@media screen and (max-width: 745px) {
    .contactGus {
        p {
            font-size: 10pt;

        }
    }
}